<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main-wrapper">
   <div class="row">
      <div class="col-xl-6 pb-3">
         <div class="box-modal">
            <h3> <i class="fas fa-clipboard"></i> Trending Activities</h3>
            <div class="activity-card-wrapper d-flex flex-wrap justify-content-center">
               <div class="activity-card d-flex justify-content-center align-items-center text-center light-color-gray m-1">
                  Activity Card Placeholder <br> 216px x 156px
               </div>
               <div class="activity-card d-flex justify-content-center align-items-center text-center light-color-gray m-1">
                  Activity Card Placeholder <br> 216px x 156px
               </div>
               <div class="activity-card d-flex justify-content-center align-items-center text-center light-color-gray m-1">
                  Activity Card Placeholder <br> 216px x 156px
               </div>
               <div class="activity-card d-flex justify-content-center align-items-center text-center light-color-gray m-1">
                  Activity Card Placeholder <br> 216px x 156px
               </div>
               <div class="activity-card d-flex justify-content-center align-items-center text-center light-color-gray m-1">
                  Activity Card Placeholder <br> 216px x 156px
               </div>
               <div class="activity-card d-flex justify-content-center align-items-center text-center light-color-gray m-1">
                  Activity Card Placeholder <br> 216px x 156px
               </div>
            </div>
            <button><i class="fas fa-clipboard"></i> View All Activities</button>
         </div>
        
      </div>
      <div class="col-xl-6 pl-lg-0 pb-3">
         <div class="box-modal">
            <h3> <i class="fas fa-clipboard"></i> Trending Communities</h3>
            <div class="communities-card-wrapper d-flex flex-wrap justify-content-center">
               <div class="communities-card d-flex justify-content-center align-items-center text-center light-color-gray m-2">
                  Activity Card Placeholder <br> 216px x 156px
               </div>
               <div class="communities-card d-flex justify-content-center align-items-center text-center light-color-gray m-2">
                  Activity Card Placeholder <br> 216px x 156px
               </div>
               <div class="communities-card d-flex justify-content-center align-items-center text-center light-color-gray m-2">
                  Activity Card Placeholder <br> 216px x 156px
               </div>
               <div class="communities-card d-flex justify-content-center align-items-center text-center light-color-gray m-2">
                  Activity Card Placeholder <br> 216px x 156px
               </div>
               <div class="communities-card d-flex justify-content-center align-items-center text-center light-color-gray m-2">
                  Activity Card Placeholder <br> 216px x 156px
               </div>             
            </div>
            <button><i class="fas fa-clipboard"></i> View All Activities</button>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6 col-xl-3 pb-3">
         <div class="box-modal">
            <h3> <i class="fas fa-user"></i> My Sites</h3>
            <div class="d-flex flex-column mt-3">
            <div class="d-flex flex-column border-radius-6 justify-content-between border border-color-dark-gray p-2 my-2">
               <span class="light-color-gray fz-14">Member Points</span>
               <span class="light-color-gray text-center fz-18">000,000</span>
               <span class="dark-color-gray text-right fz-14">Ranked:   000,000</span>
            </div>
            <div class="d-flex flex-column border-radius-6 justify-content-between border border-color-dark-gray p-2 my-2">
               <span class="light-color-gray fz-14">Member Points</span>
               <span class="light-color-gray text-center fz-18">000,000</span>
               <span class="dark-color-gray text-right fz-14">Ranked:   000,000</span>
            </div>
            <div class="d-flex flex-column border-radius-6 justify-content-between border border-color-dark-gray p-2 my-2">
               <span class="light-color-gray fz-14">Member Points</span>
               <span class="light-color-gray text-center fz-18">000,000</span>
               <span class="dark-color-gray text-right fz-14">Ranked:   000,000</span>
            </div>
            <div class="d-flex flex-column border-radius-6 justify-content-between border border-color-dark-gray mt-2 p-2 opacity-3">
               <span class="light-color-gray fz-14">Member Points</span>
               <span class="light-color-gray text-center fz-18">000,000</span>
               <span class="dark-color-gray text-right fz-14">Ranked:   000,000</span>
            </div>   
         </div>         
         </div>
        
      </div>
      <div class="col-lg-6 col-xl-3 pl-lg-0 pb-3">
         <div class="box-modal">
            <h3> <i class="fas fa-map-marked-alt"></i> Top Home Regions</h3>
            <div class="home-region-content-wrapper d-flex flex-column justify-content-between mt-3 h-100">
               <div class="home-region-content">
                  <span  class="dark-color-gray fz-12 fw-600">CONTINENT</span>
                  <div class="border border-color-dark-gray fw-600 border-radius-6 light-color-gray p-2">
                     North America
                  </div>
                  <span  class="dark-color-gray fz-12 fw-600 d-block text-right mt-1">Total Members in Region:  000,000</span>
               </div>
               <div class="home-region-content">
                  <span  class="dark-color-gray fz-12 fw-600">COUNTRY</span>
                  <div class="border border-color-dark-gray fw-600 border-radius-6 light-color-gray p-2">
                     United States
                  </div>
                  <span  class="dark-color-gray fz-12 fw-600 d-block text-right mt-1">Total Members in Region:  000,000</span>
               </div>
               <div class="home-region-content">
                  <span  class="dark-color-gray fz-12 fw-600">STATE / PROVINCE</span>
                  <div class="border border-color-dark-gray fw-600 border-radius-6 light-color-gray p-2">
                     California
                  </div>
                  <span  class="dark-color-gray fz-12 fw-600 d-block text-right mt-1">Total Members in Region:  000,000</span>
               </div>
               <div class="home-region-content">
                  <span  class="dark-color-gray fz-12 fw-600">CITY</span>
                  <div class="border border-color-dark-gray fw-600 border-radius-6 light-color-gray p-2">
                     Los Angeles
                  </div>
                  <span  class="dark-color-gray fz-12 fw-600 d-block text-right mt-1">Total Members in Region:  000,000</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-6 col-xl-3 pl-lg-0 pb-3">
         <div class="box-modal">
            <h3> <i class="fas fa-share"></i> Referral Program</h3>
            <div class="referral-content d-flex flex-column justify-content-between h-100 my-3">
               <h2 class="fz-24 text-white">Spread the word and we'll spread the coin!</h2>
               <p class="light-color-gray fz-14">Invite up to 5 friends to join the Leaf Traders community, and with each new membership you will receive 40 LT Coin and your friend will receive 20 LT Coin.</p>
               <div class="invitation-status">
                  <div class="dark-color-gray fw-500 fz-12">Invitation Status:</div>
                  <div class="dark-color-gray fz-12">
                     <span class="light-color-gray">3</span> Available  |  <span class="light-color-gray">1</span> Pending  |  <span class="light-color-gray">1</span> Complete
                  </div>
                  <div class="form-group mt-3 mb-0">
                     <input type="text" class="form-control font-italic fz-14 bg-input fw-200 dark-color-gray">
                  </div>
                  <button class="secendory-bg mt-1 d-block ml-auto fw-500">Send Invite</button>
               </div>
            </div>
            <button><i class="fas fa-share"></i> View All Activities</button>
         </div>
      </div>
      <div class="col-lg-6 col-xl-3 pl-lg-0 pb-3"> 
         <div class="box-modal h-auto mb-3" [ngStyle]="{'min-height':'auto','height':'50%'}">
            <h3> <i class="fas fa-book"></i> Knowledge Base</h3>
            <ul class="knowladge-base-list mb-auto mt-3 ml-2">
               <li>Consumer Membership</li>
               <li>Home Dashboard</li>
               <li>Member Points</li>
               <li>LT Coin & Exchange</li>
               <li>Activities</li>
            </ul>
            <button><i class="fas fa-comments"></i> View All Activities</button>
         </div>
         <div class="box-modal advir-box">
               <div class="row h-100">
                  <div class="col-lg-6 pr-lg-2 mb-2 mb-lg-0">
                     <div class="bg-light-gray h-100"></div>
                   </div>
                   <div class="col-lg-6 pl-lg-2">
                     <div class="bg-light-gray h-100"></div>
                   </div>
               </div>     
         </div>  
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6 col-xl-4  pb-3">
         <div class="box-modal">
            <h3> <i class="fas fa-user"></i> My Sites</h3>
            <div class="d-flex flex-column mt-3 text-center">
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
            </div>         
            <button><i class="fas fa-clipboard"></i> View All Activities</button>
         </div>
        
      </div>     
      <div class="col-lg-6 col-xl-4  pl-lg-0 pb-3">
         <div class="box-modal">
            <h3> <i class="fas fa-burn"></i> CII Monthly</h3>
            <div class="d-flex flex-column mt-3 text-center h-100">               
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2 h-100">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2 h-100">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2 h-100">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
            </div>         
            <button><i class="fas fa-clipboard"></i> View All Activities</button>
         </div>
        
      </div>   
      <div class="col-lg-6 col-xl-4  pl-lg-0 pb-3">
         <div class="box-modal">
            <h3> <i class="fas fa-address-book"></i> Welcome New Members</h3>
            <div class="d-flex flex-column mt-3 text-center">
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
               <div class="d-flex flex-column border-radius-6 justify-content-center border border-color-dark-gray p-2 my-2">
                  <span class="light-color-gray fz-14">Member Card Placeholder <br>
                     Width - Flex <br>
                     Height - 100</span>              
               </div>
            </div>         
            <button><i class="fas fa-clipboard"></i> View All Activities</button>
         </div>
        
      </div>  
   </div>
</main>

