<aside id="sidebar-tools">
   <button class="sidebar-btn">
      <i class="fas fa-bars"></i>
   </button>
   <button class="sidebar-btn bg-black color-green border-bottom">
      <i class="fas fa-home"></i>
   </button>
   <button class="sidebar-btn bg-black">
      <i class="fas fa-user-circle"></i>
   </button>
   <button class="sidebar-btn bg-black border-bottom">
      <i class="fas fa-project-diagram"></i>
   </button>
   <button class="sidebar-btn bg-black">
      <i class="fas fa-leaf"></i>
   </button>

   <div class="devider"></div>
   <button class="sidebar-btn bg-black">
      <i class="fas fa-clipboard"></i>
   </button>
   <button class="sidebar-btn bg-black">
      <i class="fas fa-book-open"></i>
   </button>
   <button class="sidebar-btn bg-black">
      <i class="fas fa-burn"></i>
   </button>
   <div class="devider"></div>

   <button class="sidebar-btn bg-black">
      <i class="fas fa-coins"></i>
   </button>
   <button class="sidebar-btn bg-black">
      <i class="fas fa-book"></i>
   </button>
   <button class="sidebar-btn bg-black">
      <i class="fas fa-life-ring"></i>
   </button>
   <div class="devider"></div>
</aside>

