/* You can add global styles to this file, and also import other style files */
*{ padding: 0; margin: 0; box-sizing: border-box;}
body{ background:#18191a !important; max-width: 1920px; margin: auto !important; padding-top: 60px;}
h1,h2,h3,h4,h5,h6,p,ul,span,div,section,aside{padding: 0;margin: 0;font-family: 'Roboto', sans-serif !important;}
ul{list-style: none;}
a{color: #000;text-decoration: none; outline: none;display: inline-block;}
/* common css style */
.fz-12{font-size: 12px;}.fz-14{font-size: 14px;}.fz-16{font-size: 16px;}.fz-18{font-size: 18px;}.fz-20{font-size: 20px;}.fz-22{font-size: 22px;}.fz-24{font-size: 24px;}.fz-26{font-size: 26px;}.fz-28{font-size: 28px;}.fz-30{font-size: 30px;}.fz-32{font-size: 32px;}.fz-34{font-size: 34px;}.fz-36{font-size: 36px;}.fz-38{font-size: 38px;}.fz-40{font-size: 40px;}
.fw-200{font-weight: 200;}.fw-300{font-weight: 300;}.fw-400{font-weight: 400;}.fw-500{font-weight: 500;}.fw-600{font-weight: 600;}.fw-800{font-weight: 800;}

.border-color-green{border-color: #45bd62 !important;}
.border-color-light-gray{border-color: #757575 !important;}
.border-color-dark-gray{border-color: #3a3b3c !important;}
.border-radius-2{border-radius: 2px;}.border-radius4{border-radius: 4px;}.border-radius-6{border-radius: 6px;}.border-radius-circle{border-radius: 50%;}
.primary-color{color: #45bd62 !important;}.secendory-color{color:#f7b928!important;}.light-color-gray{color: #bdbdbd !important;}.dark-color-gray{color: #757575 !important;}
.primary-bg{background-color: #45bd62 !important;}.secendory-bg{background-color:#f7b928 !important; color: #18191a !important}.bg-light-gray{background-color: #3a3b3c !important;;}.bg-dark-gray{background-color:#242526 !important;}.bg-input{background-color: #bdbdbd !important;;}

.mr-6{margin-right: 6px;}.mr-8{margin-right: 8px;}.mr-10{margin-right: 10px;}.mr-12{margin-right: 12px;}
.ml-6{margin-left: 6px;}.ml-8{margin-left: 8px;}.ml-10{margin-left: 10px;}.ml-12{margin-left: 12px;}

.pr-6{padding-right: 6px;}.pr-8{padding-right: 8px;}.pr-10{padding-right: 10px;}.pr-12{padding-right: 12px;}
.pl-6{padding-left: 6px;}.pl-8{padding-left: 8px;}.pl-10{padding-left: 10px;}.pl-12{padding-left: 12px;}
.opacity-3{opacity: .3;}
/* component css */
#main-wrapper{
   margin-left: 56px;
   width: calc(100% - 56px);
   padding: 15px;
}